<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member login</title>
</head>
<body>
    <h1>회원 로그인</h1>

    <div th:text="${errorMessage}">
    </div>

    <form method="post">
        <div>
            <input type="text" name="email" placeholder="이메일 입력" required/>
        </div>
        <div>
            <input type="text" name="password" placeholder="비밀번 입력" required/>
        </div>
        <div>
            <button type="submit"> 로그인 </button>
        </div>
    </form>
</body>
</html>