<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin member management</title>

</head>
<body>
    <h1>관리자 회원 관리</h1>

    <div th:replace="fragments/layout.html :: fragment-admin-menu"></div>

    <div class="list">
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> 카테고리명 </th>
                    <th> 순서 </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</body>
</html>